<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>{% block title %}{% endblock %}</title>
        
        {% block stylesheets %}
            <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" >
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body>
        <div class="container">
            <div class="row block-navigation">
                <nav class="navbar navbar-default navbar-gradient" role="navigation">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#"></a>
                    </div>
                    {% block navigation %}{% endblock %}
                </nav>
            </div>

            <div class="row block-body">
                {% block body %}{% endblock %}
            </div>
        </div>
        
        
        {% block javascripts %}
            <script src="{{ asset('assets/js/jquery.js') }}"></script>
        {% endblock %}
    </body>
</html>
